<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2"
  id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2"
      href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Donatela</a>
    <a href="#inicio" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Inicio</a>
    <a routerLink="/campanas" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Campañas</a>
    <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Equipo</a>
    <a routerLink="/login" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal"><i class="fa fa-user"></i>
      Iniciar sesion</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#inicio" class="w3-bar-item w3-button">Inicio</a>
    <a href="#Equipo" class="w3-bar-item w3-button"></a>
    <a href="#pricing" class="w3-bar-item w3-button">Price</a>
    <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    <a href="#" class="w3-bar-item w3-button">Search</a>
  </div>
</div>

<!-- Image Header -->

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

    <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Realizar donación</h3>
          </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="card-body">

            <div class="form-group row">
              <label for="" class="text-dark col-sm-2 col-form-label">Nombres</label>
              <div class="col-sm-10">
                <input type="text" [formControl]="nombresField" class="form-control"
                  placeholder="Ingrese su mombre">
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="text-dark col-sm-2 col-form-label">Apellidos</label>
              <div class="col-sm-10">
                <input type="text" [formControl]="apellidosField" class="form-control"
                  placeholder="Ingrese sus apellidos">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="text-dark col-sm-2 col-form-label">Correo</label>
              <div class="col-sm-10">
                <input type="email" [formControl]="correoField" class="form-control"
                  placeholder="Ingrese su correo">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="text-dark col-sm-2 col-form-label">Cantidad a donar</label>
              <div class="col-sm-10">
                <input type="number" [formControl]="cantidadDonadaField" class="form-control" min="0"
                  placeholder="Ingrese la cantidad en dolares que desea donar">
              </div>
            </div>

            <button type="submit" class="btn btn-primary col-4" (click)="registrarDonacion()">Realizar Donacion</button>

          </div>
          <!-- /.card-body -->

          <!-- /.card-footer -->
        </form>
      </div>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center" style="margin-bottom: 0px;">
  <h4>Siguenos en nuestras redes sociales</h4>
  <br>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i
      class="fa fa-linkedin"></i></a>
  <br><br>
  <p>
    © Copyright 2021 - 2022 Ultima Hora| Guayaquil, Ecuador
  </p>
  <p>
    Todos los derechos reservados | Aviso Legal
  </p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Ir al inicio</span>
    <a class="w3-button w3-theme" href="#inicio"><span class="w3-xlarge">
        <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>
